language: node_js
node_js:
  - "lts/*"
notifications:
  slack:
    rooms:
      secure: "CoSozZtgTUxUaueo1XHb+2x7RP5qhgr4d9vZ6KgzvbMWxiTPRuIad+4R+os6mt2ANnV78svuKiJj6Qd9F6JP2x8Ja2rThMyqYlEPuobhSrZhYty4WXRkjiaB33O0TOPNWYqmfOJNNhg/C4bc/Cm6AGdRq8ixXNV+Z6haQQ1QedbpMCUgbgtfbbbzFU+7oYUtf9tO65iht8amiRN03CfI2kqdN3WrHvQ/plaD4AJYH3p018obaWz4aximD2G42WnLHbHIxKUyMfKfTAXEOlOti2+6B7LsESOD9mv+EEOgOkAZHqGSPoP21blmtBmtTPTfghaHswWaA8wTV/sgiz8TgFDnP9XLUHYkVhi1WXwqtkAM+JXoXmOId8Sv6TnKukVJSWKT70TgDB/PMlGKPIaX9ghQS3BZY7eXUTrsXve15vDS8FFBAjwSuQgP8HkHQ4j+F7LlEQxMLE5BNLBBYIshZBDy6rWYmEXuyZ68ElT7kq/CCNOiog0IN3bqeRoeXjD2JFHUJdlCu3uGaXXyw+mhz48RNthJYBkZ5CHMqClJ3kyxRPVal7e1WmC6LW9DniI4ug/8kKAOicG4+J9pA+yLhgDUr5btEzd+hjJRQLwb5ijMfrJgKd7MVX/L9iohuKQ3ed+M28N5gffsIDmz5SA54/ul2fektLWt/HASnB/HpKc="  